# PART 1. 판다스

## 예제 1-1 딕셔너리 / 시리즈 변환
#### __딕셔너리 -> 시리즈 변환 : ```pandas.Series(딕셔너리)```__

In [ ]:
# pandas 불러오기 
import pandas as pd

# k:v 구조를 갖는 딕셔너리를 만들고, 변수 dict_data에 저장
dict_data = {'a': 1, 'b': 2, 'c': 3}

# 판다스 Series() 함수로 딕셔너리(dict_data)를 시리즈로 변환. 변수 sr에 저장 
sr = pd.Series(dict_data)

# 변수 sr의 자료형 출력
print(type(sr))
print('\n')

# 변수 sr에 저장되어 있는 시리즈 객체를 출력
print(sr)

## 예제 1-2 시리즈 인덱스
#### __인덱스 배열 : ```Series객체.index```__   
#### __데이터 값 배열 : ```Series객체.values```__

In [ ]:
# 리스트를 시리즈로 변환하여 변수 sr에 저장
list_data = ['2019-01-02', 3.14, 'ABC', 100, True]
sr = pd.Series(list_data)
print(sr)

# 인덱스 배열은 변수 idx에 저장. 데이터 값 배열은 변수 val에 저장
idx = sr.index
val = sr.values
print(idx)
print('\n')
print(val)

## 예제 1-3 시리즈 원소 선택

In [ ]:
# 튜플을 시리즈로 변환(인덱스 옵션 지정)
tup_data = ('영인', '2010-05-01', '여', True)
sr = pd.Series(tup_data, index=['이름', '생년월일', '성별', '학생여부'])
print(sr)

In [ ]:
# 원소 1개 선택
print(sr[0])        # sr의 1번째 원소를 선택(정수형 위치 인덱스)
print(sr['이름'])   # '이름' 라벨을 가진 원소를 선택(인덱스 이름)

In [ ]:
# 여러개의 원소를 선택(인덱스 리스트 활용)
print(sr[[1, 2]])
print('\n')
print(sr[['생년월일', '성별']])

In [ ]:
# 여러 원소 선택(인덱스 범위 지정)
print(sr[1:2])
print('\n')
print(sr['생년월일' : '성별'])

## 예제 1-4 딕셔너리
#### __딕셔너리 -> 데이터 프레임 변혼 : ```pandas.DataFrame(딕셔너리 객체)```__

In [ ]:
# 열 이름으로 key로 하고, 리스트를 value로 갖는 딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1' : [4,5,6], 'c2' : [7,8,9], 'c3': [10,11,12], 'c4': [13,14,15]}

# 판다스 DataFrame() 함수로 딕셔너리를 데이터프레임으로 변환. 변수 df에 저장
df = pd.DataFrame(dict_data)

# df의 자료형 출력
print(type(df))
print('\n')
# 변수 df에 저장되어 있는 데이터프레임 객체를 출력
print(df)
df

## 예제 1-5 행 인덱스 / 열 이름 설정
#### __행 인덱스/ 열 이름 설정 : ```pandas.DataFrame(2차원 배열, index = 행 인덱스 배열, columns=열 이름 배열)```__
#### __행 인덱스 변경 : ```DataFrame 객체.index = 새로운 행 인덱스 배열```__
#### __열 이름 변경 : ```DataFrame 객체.columns = 새로운 열 이름 배열```__

In [44]:
# 행 인덱스 , 열 이름 지정 DF 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index = ['준서', '예은'], columns=['나이', '성별', '학교'])

# 행 인덱스, 열 이름 확인
print(df)  # DF 출력
print('\n')
print(df.index)  # 행 인덱스 출력
print('\n')
print(df.columns)  # 열 이름 출력

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


Index(['준서', '예은'], dtype='object')


Index(['나이', '성별', '학교'], dtype='object')

In [45]:
# 행 인덱스, 열 이름 변경
df.index=['학생1', '학생2']
df.columns=['연령', '남녀', '소속']
print(df)      # 데이터프레임
print('\n')
print(df.index)      # 행 인덱스
print('\n')
print(df.columns)    # 열 이름

     연령 남녀   소속
학생1  15  남  덕영중
학생2  17  여  수리중


Index(['학생1', '학생2'], dtype='object')


Index(['연령', '남녀', '소속'], dtype='object')

## 예제 1-6 행 인덱스/ 열 이름 변경
#### __행 인덱스 변경 : ```DataFrame 객체.rename(index={기존 인덱스 : 새 인덱스,...})```__
#### __열 이름 변경 : ```DataFrame 객체.rename(columns={기존 이름 : 새이름, ....})```__

In [4]:
import pandas as pd

# 행 인덱스/ 열 이름 지정하여 데이터 프레임 만들기
df = pd.DataFrame([[15, '남', '덕영중'], [17, '여', '수리중']], index=['준서', '예은'], columns=['나이', '성별', '학교'])

# 데이터프레임 df 출력
print(df)
print('\n')

# 열 이름 중 '나이'를 '연령'으로 '성벌'을 '남녀'로 '학교'를 '소속'으로 변경
df.rename(columns={'나이' : '연령', '성별':'남녀', '학교':'소속'})

# df의 행 인덱스 중에서 '준서'를 '학생1'로 '예은'을 '학생2'로 변경
df.rename(index={'준서':'학생1', '예은':'학생2'}, inplace=True)

# df 출력
print(df)

    나이 성별   학교
준서  15  남  덕영중
예은  17  여  수리중


     나이 성별   학교
학생1  15  남  덕영중
학생2  17  여  수리중

## 예제 1-7 행 삭제
#### __행 삭제 : ```DataFrame 객체.drop(행 인덱스 또는 배열, axis=0)```__
#### __열 삭제 : ```DataFrame 객체.drop(열 이름 또는 배열, axis=1)```__

In [8]:
# DataFrame() 함수로 데이터프레임 변환
exam_data = {'수학' : [90, 80, 70], '영어' : [98, 89, 85], '음악' : [85, 95, 100], '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data, index=['서준', '우현', '인아'])
print(df)
print('\n')

# 데이터 프레임 df를 복제해 변수 df2에 저장. df2의 행 하나 삭제
df2 = df[:]
df2.drop('우현', inplace=True)
print(df2)
print('\n')

# 데이터 프레임 df 복제후 df3에 저장. df3 행 2개 삭제
df3 = df[:]
df3.drop(['우현', '인아'], axis=0, inplace=True)
print(df3)

    수학  영어   음악   체육
서준  90  98   85  100
우현  80  89   95   90
인아  70  85  100   90


    수학  영어   음악   체육
서준  90  98   85  100
인아  70  85  100   90


    수학  영어  음악   체육
서준  90  98  85  100

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,
/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:4174: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

## 예제 1-9 열 삭제

In [10]:
df4 = df.copy()
df4.drop('수학', axis=1, inplace=True)
print(df4)
print('\n')

# 데이터 프레임 df를 복제해 변수 df5에 저장 열 2개 삭제
df5 = df.copy()
df5.drop(['영어', '음악'], axis=1, inplace=True)
print(df5)

    영어   음악   체육
서준  98   85  100
우현  89   95   90
인아  85  100   90


    수학   체육
서준  90  100
우현  80   90
인아  70   90

## 예제 1-9 행 선택

In [13]:
# 행 인덱스로 행 1개 선택
label1 = df.loc['서준']
position1 = df.iloc[0]
print(label1)
print('\n')
print(position1)

# 행 인덱스 2개 선택
label2 = df.loc[['서준', '우현']]
position2 = df.iloc[[0, 1]]
print(label2)
print('\n')
print(position2)

# 행 인덱스 범위로 지정
label3 = df.loc['서준' : '우현']
position3 = df.iloc[0:1]
print(label3)
print('\n')
print(position3)

수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64


수학     90
영어     98
음악     85
체육    100
Name: 서준, dtype: int64
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90
    수학  영어  음악   체육
서준  90  98  85  100
우현  80  89  95   90


    수학  영어  음악   체육
서준  90  98  85  100

## 예제 1-10 열 선택
#### __열 1개 선택(시리즈 생성) : ```DataFrame 객체['열이름'] 또는 DataFrame 객체.열이름```__
#### __열 n개 선택(데이터 프레임 생성) : ```DataFrame 객체 [[열1, 열2, .....]]```__

In [16]:
# Dataframe() 함수로 데이터 프레임 저장
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# 수학 데이터만 선택
math1 = df['수학']
print(math1)
print(type(math1))
print('\n')

# 영어 점수 데이터만 선택
english = df.영어
print(english)
print(type(english))
print('\n')

# 음악, 체육 점수 데이터 선택
music = df[['음악', '체육']]
print(music)
print(type(music))
print('\n')

# 수학 점수만 선택
math2 = df[['수학']]
print(math2)
print(type(math2))

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


0    90
1    80
2    70
Name: 수학, dtype: int64
<class 'pandas.core.series.Series'>


0    98
1    89
2    95
Name: 영어, dtype: int64
<class 'pandas.core.series.Series'>


    음악   체육
0   85  100
1   95   90
2  100   90
<class 'pandas.core.frame.DataFrame'>


   수학
0  90
1  80
2  70
<class 'pandas.core.frame.DataFrame'>

## 예제 1-11 원소 선택
#### __인덱스 이름 : ```DataFrame 객체.loc[행 인덱스, 열이름]```__
#### __정수 위치 인덱스 : ```DataFrame 객체.iloc[행번호, 열번호]```__

In [17]:
#이름 열을 새로운 인덱스로 지정후 df 객체에 변경사항 반영
df.set_index('이름', inplace = True)
print(df)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [18]:
# 데이터 프레임 df의 특정 원소 1개 선택
a = df.loc['서준', '음악']
print(a)
b = df.iloc[0, 2]
print(b)

85
85

In [19]:
# 데이터 프레임 df의 특정 원소 2개 이상 선택
c = df.loc['서준', ['음악', '체육']]
print(c)
d = df.iloc[0, [2, 3]]
print(d)
e = df.loc['서준', '음악' : '체육']
print(e)
f = df.iloc[0, 2:]
print(f)

음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64
음악     85
체육    100
Name: 서준, dtype: int64

In [20]:
# df 2개 이상의 행과 열에 속하는 원소 2개 선택
g = df.loc[['서준', '우현'], ['음악', '체육']]
print(g)
h = df.iloc[[0, 1], [2, 3]]
print(h)
i = df.loc['서준' : '우현', '음악' : '체육']
print(i)
j = df.iloc[0:2, 2:]
print(j)

    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90
    음악   체육
이름
서준  85  100
우현  95   90

## 예제 1-12 열 추가
#### __열 추가 : ```DataFrame 객체[추가하려는 열 이름] = 데이터값```__

In [22]:
# 데이터 프레임 df에 국어 점수 열 추가
df['국어'] = 80
print(df)

    수학  영어   음악   체육  국어
이름
서준  90  98   85  100  80
우현  80  89   95   90  80
인아  70  95  100   90  80

## 예제 1-13 행 추가
#### __행 추가 : ```DataFrame.loc[새로운 행 이름] = 데이터값```__

In [23]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# 새 행 추가
df.loc[3] = 0
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0

In [24]:
# 새로운 행 추가
df.loc[4] = ['동규', 90, 80, 70, 60]
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
3   0   0   0    0    0
4  동규  90  80   70   60

In [26]:
# 새로운 행 추가
df.loc['행5'] = df.loc[3]
print(df)

    이름  수학  영어   음악   체육
0   서준  90  98   85  100
1   우현  80  89   95   90
2   인아  70  95  100   90
3    0   0   0    0    0
4   동규  90  80   70   60
행5   0   0   0    0    0

## 예제 1-14 원소 값 변경
#### __원소 값 변경 : ```DataFrame 객체의 일부분 또는 원소 선택 = 새로운 값```__

In [27]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)
print(df)
print(type(df))
print('\n')

# 이름 열을 새로운 인덱스로 지정
df.set_index('이름', inplace=True)
print(df)
print('\n')

   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90
<class 'pandas.core.frame.DataFrame'>


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [29]:
# 데이터 프레임 df의 특정 원소를 변경
df.iloc[0][3] = 80
print(df)
print('\n')

df.loc['서준']['체육'] = 90
print(df)
print('\n')

df.loc['서준']['체육'] = 100
print(df)
print('\n')

    수학  영어   음악  체육
이름
서준  90  98   85  80
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98   85  90
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90

In [30]:
# 데이터프레임 df의 원소 여러개를 변경
df.loc['서준', ['음악', '체육']] = 50
print(df)
print('\n')

df.loc['서준', ['음악', '체육']] = 100, 50
print(df)

    수학  영어   음악  체육
이름
서준  90  98   50  50
우현  80  89   95  90
인아  70  95  100  90


    수학  영어   음악  체육
이름
서준  90  98  100  50
우현  80  89   95  90
인아  70  95  100  90

## 예제 1-15 행, 열 변경
#### __행, 열 변경 : ```DataFrame 객체.transpose() 또는 DataFrame 객체.T```__

In [32]:
exam_data = {'이름' : ['서준', '우현', '인아'],
             '수학' : [90, 80, 70],
             '영어' : [98, 89, 95],
             '음악' : [85, 95, 100],
             '체육' : [100, 90, 90]}
df = pd.DataFrame(exam_data)


# DF를 전치
df = df.transpose()
print(df)
print('\n')

# DF 다시 전치
df = df.T
print(df)

      0   1    2
이름   서준  우현   인아
수학   90  80   70
영어   98  89   95
음악   85  95  100
체육  100  90   90


   이름  수학  영어   음악   체육
0  서준  90  98   85  100
1  우현  80  89   95   90
2  인아  70  95  100   90

## 예제 1-16 특정 열을 행 인덱스로 설정
#### __특정 열을 행 인덱스로 설정 : ```DataFrame 객체.set_index([열이름] 또는 [행이름])```__

In [35]:
# 특정 열을 DF 행 인덱스로 설정
ndf = df.set_index(['이름'])
print(ndf)
print('\n')
ndf2 = df.set_index(['음악'])
print(ndf2)
print('\n')
ndf3 = df.set_index(['수학', '음악'])
print(ndf3)

    수학  영어   음악   체육
이름
서준  90  98   85  100
우현  80  89   95   90
인아  70  95  100   90


     이름  수학  영어   체육
음악
85   서준  90  98  100
95   우현  80  89   90
100  인아  70  95   90


        이름  영어   체육
수학 음악
90 85   서준  98  100
80 95   우현  89   90
70 100  인아  95   90

## 예제 1-17 새로운 배열로 행 인덱스 재지정
#### __새로운 배열로 행 인덱스를 재지정 : ```DataFrame 객체.reindex(새로운 인덱스 배열)```__

In [36]:
# 딕셔너리 정의
dict_data = {'c0' : [1,2,3], 'c1' : [4, 5, 6], 'c2' : [7,8,8], 'c3' : [10, 11, 12], 'c4' : [13, 14, 15]}

# 딕셔너리를 데이터프레임으로 변환
df = pd.DataFrame(dict_data, index=['r0', 'r1', 'r2'])
print(df)
print('\n')

# 인덱스를 r0, r1, r2, r3, r4로 지정
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf = df.reindex(new_index)
print(ndf)
print('\n')

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   8  12  15


     c0   c1   c2    c3    c4
r0  1.0  4.0  7.0  10.0  13.0
r1  2.0  5.0  8.0  11.0  14.0
r2  3.0  6.0  8.0  12.0  15.0
r3  NaN  NaN  NaN   NaN   NaN
r4  NaN  NaN  NaN   NaN   NaN

In [37]:
# reindex로 발생한 NaN 값을 숫자 0으로 채우기
new_index = ['r0', 'r1', 'r2', 'r3', 'r4']
ndf2 = df.reindex(new_index, fill_value=0)
print(ndf2)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   8  12  15
r3   0   0   0   0   0
r4   0   0   0   0   0

## 예제 1-18 정수형 위치 인덱스로 초기화
#### __정수형 위치 인덱스로 초기화 : ```DataFrame 객체.reset_index()```__

In [38]:
# 행 인덱스를 정수형으로 초기화
ndf = df.reset_index()
print(ndf)

  index  c0  c1  c2  c3  c4
0    r0   1   4   7  10  13
1    r1   2   5   8  11  14
2    r2   3   6   8  12  15

## 예제 1-19 데이터프레임 정렬
#### __행 인덱스 기준 정렬 : ```DataFrame 객체.sort_index()```__

In [43]:
print(df)
print('\n')

# 내림차순으로 행 인덱스 정렬
ndf = df.sort_index(ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r0   1   4   7  10  13
r1   2   5   8  11  14
r2   3   6   8  12  15


    c0  c1  c2  c3  c4
r2   3   6   8  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

## 예제 1-20 열 기준 정렬
#### __열 기준 정렬 : ```DataFrame 객체.sort_values()```__

In [42]:
# c1 열을 기준으로 내림차순 정렬
ndf = df.sort_values(by='c1', ascending=False)
print(ndf)

    c0  c1  c2  c3  c4
r2   3   6   8  12  15
r1   2   5   8  11  14
r0   1   4   7  10  13

# PART 2. 데이터 입출력

In [ ]:
# IPython 디스플레이 설정 -출력 열의 개수 한도 늘리기
pd.set_option('display.max_columns', 15)
df = pd.read_csv('aaa.csv')    # csv 파일 읽기
df.to_csv('aaa.csv')   # csv로 저장하기